<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name='client_ip_ups' />
  <arg name="output" default="screen" />

	<node pkg="distributed_database" type="integrate_database.py" name="integrate_database" output="$(arg output)">
		<param name='client_ip' value='$(arg client_ip_ups)'/>
	</node>

</launch>
