<?xml version="1.0" encoding="UTF-8"?>
<launch>
        <arg name="robot_ip"/>

        <!-- Repeaters only launch the node that relays msgs -->
        <include file="$(find distributed_database)/launch/integrate_commsdb.launch">
                <arg name="client_ip_ups" value="$(arg robot_ip)" />
        </include>

</launch>
