<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="robot_ip"/>
  <include file="$(find distributed_database)/launch/integrate_commsdb.launch">
    <arg name="client_ip_ups" value="$(arg robot_ip)" />
  </include>
	<!-- <include file="$(find interface_rajant)/launch/rajant_nodes.launch"/> -->
	<node pkg="translators" type="robot_pose_translator.py" name="robot_pose_listener" output="screen"/>
	<node pkg="translators" type="robot_detections_translator.py" name="robot_detections_listener" output="screen"/>
  <!--
	<node pkg="detection_localizer" type="detection_localizer.py" name="detection_localizer" output="screen"/>
  -->
</launch>

