<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="robot_name" default="basestation"/>
  <arg name="robot_configs" default="$(find mocha_core)/config/robot_configs.yaml"/>
  <arg name="topic_configs" default="$(find mocha_core)/config/topic_configs.yaml"/>
  <arg name="radio_configs" default="$(find mocha_core)/config/radio_configs.yaml"/>
  <arg name="output" default="screen"/>

  <!-- Launch database, publishers and translators -->
  <include file="$(find mocha_core)/launch/database_translators_publishers.launch" pass_all_args="True"/>

  <!-- Launch Rajant interface -->
  <include file="$(find interface_rajant)/launch/rajant_nodes.launch" pass_all_args="True"/>

</launch>

